*{
  margin: 0
}

ion-icon {
font-size: 40px;
}

body{
  background-color:whitesmoke;
}

.not-a-container {
  display: flex;
  justify-content: center;
}

nav{
  display:flex;
  justify-content: space-around;
  font-size: 40px;
  padding: 20px 0;
  background-color:white;
  border: 1px solid lightgray
}

nav input{
  font-size:30px;
  text-align:center;
  width:280px;
  height: 40px;
}

.post{
  width:700px;
  margin:70px;
  border-radius: 3px;
  border: 1px solid lightgray;
  background-color:white;
}

.post img{
  width:100%;
}

.post-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-right:15px;
}

.post-header p:first-child{
  font-weight:bold;
}

.elipses {
  text-decoration:none;
  color: black;
  font-weight:bold;
}

.profile-left{
display:flex;
align-items:center;
}

.profile-left img{
  width:35px;
  height:35px;
  margin:12px;
  border-radius: 50%;
  border: 1px solid gray;
}

.post-footer{
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.like-box{
  display:flex;
  padding:15px;
}


.like-box img {
  width:20px;
  height:20px;
  border-radius:50%;
}

.tags{
  padding:0 0 15px 15px; ;
}

.light-text{
  color:gray;
}
.add-comment{
  display:flex;
  justify-content: space-between;
  padding:15px;
}
.add-comment input {
  font-size:16px;
  border:none;
  width:100%
}

.stay-put {
  position: fixed;

}

.right-side img {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.prof-info {
 display: flex;
  margin-top:70px;
  margin-bottom: 15px;
}

.stories {
  border: 1px solid lightgray;
  background-color: white;
  width: 250px;
  height: 250px;
  padding: 20px;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px
}

.stories-content {
  display: flex;
}

.stories-content img {
  border: 3px solid pink;
  padding: 2px;
}



@media screen and (max-width:1000px) {
  .right-side {
    display: none;
  }
}

@media screen and (max-width:690px){
  nav input {
    display:none;
  }
}
